<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Project Management</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-2">
        <li class="nav-item">
          <a >
            <%= link_to 'Home', root_path, class: "px-3 py-4 bg-teal-600 block no-underline w-full text-center rounded font-bold text-white shadow-sm" %>
          </a>
        </li>
        <li class="nav-item">
          <a >
            <%= link_to 'Projects', projects_path, class: "px-2 py-2 bg-teal-600 block no-underline text-center rounded font-bold text-white" %>
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            For user
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <% if user_signed_in? %>
            <li><a class="dropdown-item" href="#">
              <%= link_to "User projects", projects_path, class: "px-3 py-4 bg-teal-600 block no-underline w-full text-center rounded font-bold text-black shadow-sm" %>
              </a></li>
              <% end %>
            <% if account_signed_in?%>
            <li><a class="dropdown-item" href="#">
              <%= link_to 'Log in as User', new_user_session_path%>
            </a></li>
            <li>
              <a class="dropdown-item" href="#">
                <%= link_to 'SignUp as User', new_user_registration_path%>
              </a>
            </li>
              <% end %>
            <li><a class="dropdown-item" href="#">
              <% if user_signed_in?%>
                <%= button_to 'Log Out as User', destroy_user_session_path, method: :delete %>
              <% end %>
            </a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>


        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            For admin
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">

              <li class="nav-item">
                <% if user_signed_in? && current_user.admin?%>
                <a class="dropdown-item"  href="#" tabindex="-1" >
                  <%= link_to 'Organisations', accounts_path, class: "px-3 py-4 bg-teal-600 block no-underline w-full text-center rounded font-bold text-black shadow-sm" %>
                  </a>
                <% end %>
              </li>

            <li class="nav-item">
              <% if user_signed_in? && current_user.admin?%>
                <a class="dropdown-item" tabindex="-1" >
                  <%= link_to 'Invite User', new_user_invitation_path, class: "px-3 py-4 bg-teal-600 block no-underline w-full text-center rounded font-bold text-black shadow-sm" %>
                </a>
              <% end %>
            </li>

            <li class="nav-item">
              <% if user_signed_in? && current_user.admin?%>
                <a class="dropdown-item" tabindex="-1" >
                  <%#= link_to 'Create Organisation', new_account_path, class: "px-3 py-4 bg-teal-600 block no-underline w-full text-center rounded font-bold text-black shadow-sm" %>
                </a>
              <% end %>
            </li>

            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>

        <li class="nav-item">
          <a class="nav-link">
            <% if user_signed_in? %>
               Current user: <%= current_user %>
            <% end %>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link">
            created_by_invite: <%= current_user.created_by_invite?%>
          </a>
        </li>
  </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>